<div id="userProfile_view" ng-controller="UserprofileCtrl">
  <div class="panel panel-default">
    <div class="panel-body">
      <div ng-if="complete == false">
        <form role="form" ng-if="authenticated" name="userProfileForm" ng-submit="updateProfile(userProfileForm, model)" novalidate>
          <div class="form-group">
            <label for="id_first_name">First Name</label>
            <input name="first_name" id="id_first_name" class="form-control" type="text" ng-model="model.first_name" placeholder="First Name" />
          </div>
          <div class="alert alert-danger" ng-repeat="error in errors.first_name">{{error}}</div>
          <div class="form-group">
            <label for="id_last_name">Last Name</label>
            <input name="last_name" id="id_last_name" class="form-control" type="text" ng-model="model.last_name" placeholder="Last Name" />
          </div>
          <div class="alert alert-danger" ng-repeat="error in errors.last_name">{{error}}</div>
          <div class="form-group">
            <label for="id_email">Email</label>
            <input name="email" id="id_email" class="form-control" type="email" ng-model="model.email" placeholder="Email" required />
          </div>
          <div class="alert alert-danger" ng-repeat="error in errors.email">{{error}}</div>
          <button type="submit" ng-show="authenticated" class="btn btn-primary">Update Profile</button>
        </form>
        <div class="alert alert-warning" ng-if="authenticated == false">You need to be logged in to do this.</div>
      </div>
      <div ng-if="complete == true">
        <div class="alert alert-success">You have updated your profile.</div>
      </div>
    </div>
  </div>

  <div ng-show="authenticated && posts.length" class="panel panel-default">
    <h3 class="text-center">All {{username}}'s posts</h3>
    <!-- List group -->
    <ul class="list-group">
      <a ng-href="" ng-repeat="post in posts" class="list-group-item">
        <author><strong>{{ post.author.username }}</strong></author>
        <button type="button" class="btn btn-primary btn-xs"
                ng-click="followUser(post.author.username)"
                ng-show="(authenticated && post.author.username != username && followingNames.indexOf(post.author.username) == -1)">
          Follow
        </button>
        <button type="button" class="btn btn-success btn-xs" style="width: 65px"
                ng-class="{'btn-danger': hover}"
                ng-mouseenter="hover = true; caption = 'Unfollow'"
                ng-mouseleave="hover = false; caption = 'Following'"
                ng-show="(authenticated && post.author.username != username && followingNames.indexOf(post.author.username) > -1)"
                ng-click="unfollowUser(post.author.username)">
          {{ caption }}
        </button>
        <div class="pull-right">{{ post.date | date:'MMM d, y HH:mm'}}</div>
        <p>{{ post.text }}</p>
      </a>
    </ul>
</div>


